<form action="/contacts/new" method="post">
  <fieldset>
    <dl>
      <dt>
        <label for="new_contact">Please enter the name of the new contact:</label>
      </dt>
      <dd>
        <input name="new_contact" placeholder="Contact Name" type="text" value="">
      </dd>
    </dl>
    <input type="submit" value="Add Contact">
    <a href="/contacts">Cancel</a>
  </fieldset>
</form>
