<form action="/contacts/new" method="post">
  <fieldset>
    <dl>
      <dt>
        <label for="name">Please enter the name of the new contact:</label>
      </dt>
      <dd>
        <input id="name" name="name" placeholder="Full Name" type="text" value="<%= params[:name] %>">
      </dd>
      <dt>
        <label for="phone">Please enter the phone number of the new contact:</label>
      </dt>
      <dd>
        <input id="phone" name="phone" placeholder="(123) 456-7890" type="tel" value="<%= params[:phone] %>">
      </dd>
      <dt>
        <label for="email">Please enter the email of the new contact:</label>
      </dt>
      <dd>
        <input id="email" name="email" placeholder="example@email.com" type="email" value="<%= params[:email] %>">
      </dd>
      <dt>
        <label for="category">Please categorize the new contact:</label>
      </dt>
      <dd>
        <select id="category" name="category" required>
          <option value="" selected disabled>Choose Category</option>
          <option value="friends">Friends</option>
          <option value="family">Family</option>
          <option value="work">Work</option>
          <option value="other">Other</option>
        </select>
      </dd>
    </dl>
    <input type="submit" value="Add Contact">
    <a href="/contacts">Cancel</a>
  </fieldset>
</form>
